In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('Suyash.xlsx')

In [4]:
df.head(1)

,Index,title,reviews_count,course_duration,platform,ratings,description,students_count,course_img,course_url,...,level,organization,course_certificate_type,course_skills,course_summary,Type,Prerequisites,domain,instructor,lectures_count
0,1,(ISC)² Systems Security Certified Practitioner...,484,3 - 6 Months,Coursera,4.7,Pursue better IT security job opportunities an...,6706.0,https://upload.wikimedia.org/wikipedia/commons...,https://www.coursera.org/specializations/sscp-...,...,Beginner,ISC2,Specialization,"['Security Software', 'Risk Management', 'Acce...",[],NaN,NaN,NaN,NaN,NaN

In [5]:
df.tail(1)

,Index,title,reviews_count,course_duration,platform,ratings,description,students_count,course_img,course_url,...,level,organization,course_certificate_type,course_skills,course_summary,Type,Prerequisites,domain,instructor,lectures_count
6213,6214,Introduction to Android Development for beginners,124 reviews,8 total hours,Udemy,3.6,Create an Android App step by step from scratch,4653.0,https://img-b.udemycdn.com/course/240x135/1389...,https://www.udemy.com/course/introduction-to-a...,...,Beginner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bluelime Learning Solutions,71 lectures

In [6]:
df['ratings'].unique()

array([4.7, 4.3, 4.8, 4.9, 4.2, 4.1, 4.6, 4. , 4.5, 4.4, 5. , 3.9, 3.4,
       2.7, 3.7, 3.3, nan, 3.5, 3.8, 3.2, 3.6, 2.8, 3.1, 2.9, 3. , 2.6,
       2.1, 2.5, 2.4, 1.9, 1.7])

In [7]:
df.isnull().sum()

Index                         0
title                         0
reviews_count               205
course_duration               4
platform                      0
ratings                     206
description                   6
students_count              268
course_img                    0
course_url                    0
paid                          0
level                         2
organization               5278
course_certificate_type    5278
course_skills              5011
course_summary             5278
Type                       5947
Prerequisites              6134
domain                     5947
instructor                 1203
lectures_count             1203
dtype: int64

In [8]:
df['students_count'].fillna(df['students_count'].mean(),inplace=True)

In [9]:
df['description'] = df['description'].astype(str)
df['description'] = df['description'].apply(lambda x:x.split())

In [10]:
df['description'].head(2)

0    [Pursue, better, IT, security, job, opportunit...
1    [Develop, the, proficiency, required, to, desi...
Name: description, dtype: object

In [11]:
type(df["description"])

pandas.core.series.Series

In [12]:
df['description'].describe()

count      6214
unique     6154
top       [nan]
freq          6
Name: description, dtype: object

In [13]:
df['description'].head(2)

0    [Pursue, better, IT, security, job, opportunit...
1    [Develop, the, proficiency, required, to, desi...
Name: description, dtype: object

In [14]:
df['paid'].unique()

array(['Yes'], dtype=object)

In [15]:
def tostring (x):
    lis = []
    lis = x.split()
    return lis

In [16]:
df2 = df[['Index', 'title', 'description', 'course_skills', 'domain']]

In [17]:
df2

,Index,title,description,course_skills,domain
0,1,(ISC)² Systems Security Certified Practitioner...,"[Pursue, better, IT, security, job, opportunit...","['Security Software', 'Risk Management', 'Acce...",NaN
1,2,.NET FullStack Developer,"[Develop, the, proficiency, required, to, desi...","['Web API', 'Web Development', 'Cascading Styl...",NaN
2,3,21st Century Energy Transition: how do we make...,"[Affordable,, abundant, and, reliable, energy,...",[],NaN
3,4,A Crash Course in Causality: Inferring Causal...,"[We, have, all, heard, the, phrase, “correlati...",[],NaN
4,5,AI & Law,"[About, this, Course, This, four-week, course,...",[],NaN
...,...,...,...,...,...
6209,6210,Game Theory Algorithms in Competitive Programm...,"[Dive, deep, into, game, theory, algorithms,, ...",NaN,NaN
6210,6211,"Siemens WinCC SCADA Programming, SCADA1 ( Basic )","[This, course, is, a, great, push, for, any, o...",NaN,NaN
6211,6212,Python Object Oriented Programming (OOP): Begi...,"[Deep, OOP, Foundations, From, Absolute, Scratch]",NaN,NaN
6212,6213,jQuery Basics Guide,"[Everything, you, need, to, know, to, Build, a...",NaN,NaN
6213,6214,Introduction to Android Development for beginners,"[Create, an, Android, App, step, by, step, fro...",NaN,NaN

In [18]:
df2['tags'] = df2[]

SyntaxError: invalid syntax (2286904713.py, line 1)

In [19]:
df['Tags'] = df['description']
df['Tags'] = df['Tags'].apply(lambda x: ' '.join(x))

In [20]:
df['Tags'][0]

'Pursue better IT security job opportunities and prove knowledge with confidence. The SSCP Professional Training Certificate shows employers you have the IT security foundation to defend against cyber attacks – and puts you on a clear path to earning SSCP certification. Learn on your own schedule with 120-day access to content aligned with the latest (ISC)2 SSCP exam domains. We’re offering the complete online self-paced program for only $1,000 – a $200 savings when you get all domains bundled together. 3 Steps to Career Advancement 1. Register for the course 2. Gain access for 120 days 3. Register and sit for the SSCP certification exam Upon completing the SSCP Professional Certificate, you will: 1. Complete six courses of preparing you to sit for the Systems Security Certified Practitioner (SSCP) certification exam Opens in a new tabas outlined below. Course 1 - Access Controls Course 2 - Security Operations and Administration Course 3 - Risk Identification, Monitoring, and Analysis/Incident Response and Recovery Course 4 - Cryptography Course 5 - Network and Communication Security Course 6 - Systems and Application Security 2. Receive a certificate of program completion. 3. Understand how to implement, monitor and administer an organization’s IT infrastructure in accordance with security policies and procedures that ensure data confidentiality, integrity and availability. Applied Learning Project Each course includes a case study that will require students to put into practice the knowledge they have gained throughout each course. Successful completion of course projects will require the basic understanding of the topics covered and the ability to relate those topics to the real world. The objective of each project is to determine whether students have understood course concepts and are able to use them in a real world setting.'

In [21]:
df['Tags'].apply(lambda x: x.lower())

0       pursue better it security job opportunities an...
1       develop the proficiency required to design and...
2       affordable, abundant and reliable energy is fu...
3       we have all heard the phrase “correlation does...
4       about this course this four-week course titled...
                              ...
6209    dive deep into game theory algorithms, learn &...
6210    this course is a great push for any one who wa...
6211           deep oop foundations from absolute scratch
6212    everything you need to know to build a retirem...
6213      create an android app step by step from scratch
Name: Tags, Length: 6214, dtype: object

In [22]:
from sklearn.feature_extraction.text import CountVectorizer

In [23]:
cv = CountVectorizer(max_features=3633,stop_words='english')

In [24]:
vectors = cv.fit_transform(df['Tags']).toarray()

In [25]:
vectors.shape

(6214, 3633)

In [26]:
cv.get_feature_names_out()

array(['000', '10', '100', ..., 'équipe', 'évaluations', 'éxito'],
      dtype=object)

In [27]:
import nltk

In [28]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [29]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [30]:
df['Tags'].apply(stem)

0       pursu better it secur job opportun and prove k...
1       develop the profici requir to design and devel...
2       affordable, abund and reliabl energi is fundam...
3       we have all heard the phrase “correl doe not e...
4       about thi cours thi four-week cours titl ai an...
                              ...
6209    dive deep into game theori algorithms, learn &...
6210    thi cours is a great push for ani one who want...
6211                deep oop foundat from absolut scratch
6212    everyth you need to know to build a retir calc...
6213       creat an android app step by step from scratch
Name: Tags, Length: 6214, dtype: object

In [31]:
from sklearn.metrics.pairwise import cosine_similarity

In [32]:
similarity = cosine_similarity(vectors)

In [33]:
similarity[0]

array([1.        , 0.05264779, 0.06420686, ..., 0.        , 0.01808937,
       0.        ])

In [34]:
similarity[2]

array([0.06420686, 0.01076078, 1.        , ..., 0.        , 0.        ,
       0.02218391])

In [35]:
sorted(similarity[2],reverse=True)

[0.9999999999999997,
 0.5064318907725274,
 0.4260538457016924,
 0.3322159750346773,
 0.30185031190749195,
 0.2777865265463908,
 0.21466111973401078,
 0.18892607536325323,
 0.18595499974350838,
 0.18215405853914704,
 0.1529164500839441,
 0.14615554290852417,
 0.14030338331657843,
 0.12967419972855276,
 0.12279934864132651,
 0.12154245139688255,
 0.11911093888564105,
 0.11803567710114443,
 0.11091956367701424,
 0.10652627011730119,
 0.10415026117531893,
 0.10261679516498724,
 0.10246310391571202,
 0.10089868985084237,
 0.10079692614380976,
 0.09965270519342705,
 0.09759620407596854,
 0.09319107356759981,
 0.0914158429177032,
 0.09141584291770317,
 0.08873565094161139,
 0.08805042330514733,
 0.08799030796057888,
 0.08613794523159923,
 0.08577217735750955,
 0.08447927767147227,
 0.08366077401842115,
 0.08119235943677268,
 0.0805683670121924,
 0.07936757901325452,
 0.07888607257320453,
 0.07843197564226982,
 0.07777323275854686,
 0.07724243248426167,
 0.0771818847120179,
 0.07684732793678402,
 0.07655206594262247,
 0.07654889058437006,
 0.0761646938004283,
 0.0761455111546637,
 0.07605912937852405,
 0.07605912937852403,
 0.07600972986817453,
 0.07567911379635306,
 0.07567401738813177,
 0.07567401738813177,
 0.07567401738813177,
 0.07567401738813177,
 0.07501391988993296,
 0.07492102335907437,
 0.07446530408652231,
 0.07393472976904604,
 0.07384933325496001,
 0.07329771083213375,
 0.07245235560022185,
 0.07230373522710569,
 0.07197411700355742,
 0.07114680081768734,
 0.07114680081768734,
 0.07114680081768734,
 0.07095415681881996,
 0.06960997164655915,
 0.06941058978745968,
 0.06882616914840327,
 0.06880458427920982,
 0.06862719331557994,
 0.06844972419689004,
 0.06805713753479713,
 0.06805713753479713,
 0.0676602995306439,
 0.06707784709055377,
 0.06688701356847088,
 0.06655173820620854,
 0.06655173820620854,
 0.06655173820620854,
 0.06655173820620854,
 0.06655173820620854,
 0.06655173820620854,
 0.06641465930020336,
 0.06629328387757989,
 0.06573512153474743,
 0.06573037856987711,
 0.06551101638710258,
 0.06547491221440328,
 0.0653076707861876,
 0.06511416615111816,
 0.06480335690083344,
 0.06480335690083344,
 0.064322914779912,
 0.06420686360544255,
 0.06400819357319962,
 0.06339581115019412,
 0.06274558051381586,
 0.06274558051381586,
 0.06274558051381586,
 0.06274558051381586,
 0.06274558051381586,
 0.06274558051381586,
 0.06274558051381586,
 0.06274558051381586,
 0.06274558051381586,
 0.06274558051381586,
 0.06274558051381586,
 0.06274558051381586,
 0.06274558051381586,
 0.06274558051381586,
 0.06274558051381586,
 0.06274558051381586,
 0.06274558051381586,
 0.062314334300409606,
 0.06223336312477714,
 0.06179531490279109,
 0.06179173766236258,
 0.06178757646247489,
 0.06178757646247489,
 0.06152710373685659,
 0.06105223163175534,
 0.060872154352743534,
 0.060872154352743534,
 0.060658442209058354,
 0.06065008824663025,
 0.06047417463400322,
 0.06019831221162377,
 0.06009936629759292,
 0.05988940031062217,
 0.059889400310622155,
 0.059525684259940884,
 0.059525684259940884,
 0.059525684259940884,
 0.059525684259940884,
 0.059525684259940884,
 0.059525684259940884,
 0.059525684259940884,
 0.059525684259940884,
 0.059525684259940884,
 0.059525684259940884,
 0.059525684259940884,
 0.059525684259940884,
 0.059525684259940884,
 0.059525684259940884,
 0.059525684259940884,
 0.059525684259940884,
 0.059525684259940884,
 0.059525684259940884,
 0.05917171273136694,
 0.0591623597379107,
 0.05905466401300317,
 0.059021760481036516,
 0.05896788391984838,
 0.05895275770064071,
 0.05882456791694044,
 0.05774839615080067,
 0.057717539404728624,
 0.05763999925344674,
 0.05724549778385877,
 0.05698260088230405,
 0.05696389633096354,
 0.05675551304109883,
 0.05675551304109883,
 0.05675551304109883,
 0.05675551304109883,
 0.05675551304109883,
 0.05675551304109883,
 0.05675551304109883,
 0.05675551304109883,
 0.05675551304109883,
 0.05675551304109883,
 0.05638847217680307,
 0.05629755895118131,
 0.05626043991744971,
 0.056154590731574416,
 0.05612135332663138,
 0.056121353326631374,
 0.056121353326631374,
 0.056121353326631374,
 0.056121353326631374,
 0.056121353326631374,
 0.056121353326631374,
 0.056121353326631374,
 0.056121353326631374,
 0.056121353326631374,
 0.056121353326631374,
 0.056121353326631374,
 0.05581214241524413,
 0.055780876857687046,
 0.05565944132904652,
 0.055557305309278146,
 0.05524440323131658,
 0.05511939430732774,
 0.05499398027836822,
 0.05486941844169382,
 0.05476883280542997,
 0.05473653033561586,
 0.05472059956595002,
 0.05461301788712288,
 0.054575834064626176,
 0.054339266700166394,
 0.054339266700166394,
 0.054339266700166394,
 0.054339266700166394,
 0.054339266700166394,
 0.054339266700166394,
 0.054339266700166394,
 0.054339266700166394,
 0.054339266700166394,
 0.054339266700166394,
 0.054339266700166394,
 0.054339266700166394,
 0.054339266700166394,
 0.054339266700166394,
 0.054339266700166394,
 0.0541394158329603,
 0.05400279741736121,
 0.053892022331651517,
 0.053816258699628854,
 0.053716191447525166,
 0.053323489905275696,
 0.05322010677816191,
 0.052945720104505434,
 0.05284131116814397,
 0.05271683205256339,
 0.052659499972466724,
 0.052531751907034796,
 0.05249671905758515,
 0.05247503963520387,
 0.05242420974251245,
 0.0523334318220373,
 0.05228798376151321,
 0.052207478734919356,
 0.052207478734919356,
 0.052207478734919356,
 0.052207478734919356,
 0.052207478734919356,
 0.052207478734919356,
 0.052207478734919356,
 0.052207478734919356,
 0.052207478734919356,
 0.052207478734919356,
 0.052207478734919356,
 0.052207478734919356,
 0.052207478734919356,
 0.052207478734919356,
 0.05173278103350083,
 0.05135055688465351,
 0.05130226496867955,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05123155195785601,
 0.05116497421438346,
 0.05097333859725881,
 0.05071664892015529,
 0.05064167970116715,
 0.05053449155971994,
 0.05033810962498015,
 0.05030838531791533,
 0.05030838531791533,
 0.05030838531791533,
 0.05030838531791533,
 0.05030838531791533,
 0.05030838531791533,
 0.05030838531791533,
 0.05030838531791533,
 0.05030838531791533,
 0.049671854563191155,
 0.049641467533917336,
 0.049433390129890065,
 0.049367958744322996,
 0.04924507176865716,
 0.04922168298948526,
 0.04892707899593948,
 0.04884736818080748,
 0.04880211817741233,
 0.04879210748639883,
 0.04878353326559272,
 0.04875511622277502,
 0.04860251767562508,
 0.04860251767562508,
 0.04860251767562508,
 0.04860251767562508,
 0.04860251767562508,
 0.04860251767562508,
 0.04860251767562508,
 0.04857378428991795,
 0.048442640539537944,
 0.048232911416755446,
 0.048232911416755446,
 0.04813811284033774,
 0.048092240887279994,
 0.04789809610034572,
 0.047742228143587744,
 0.047734795711357206,
 0.04771021001367452,
 0.04763999627435799,
 0.04755718005132957,
 0.04751507541266223,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.047431200545124896,
 0.04738942933442843,
 0.04709484593691477,
 0.0470591853853619,
 0.0470591853853619,
 0.0470591853853619,
 0.0470591853853619,
 0.0470591853853619,
 0.0470591853853619,
 0.0470591853853619,
 0.0470591853853619,
 0.0470591853853619,
 0.047029800939546215,
 0.04701573676988894,
 0.04680844441997042,
 0.04671016312375858,
 0.04669578855406177,
 0.04649187583941381,
 0.046406647764372755,
 0.046253164455058324,
 0.04611601987475571,
 0.04607670688530345,
 0.045993556243120175,
 0.04590798676204116,
 0.045810274935581784,
 0.045761917840891043,
 0.045761917840891043,
 0.04573827088807847,
 0.04565411576455765,
 0.04565411576455765,
 0.04565411576455765,
 0.04565411576455765,
 0.04565411576455765,
 0.04565411576455765,
 0.045633149464593355,
 0.04560772400807367,
 0.045322081425105236,
 0.04531625259331146,
 0.04531625259331146,
 0.045216596176269566,
 0.04518198192012374,
 0.04515650836277626,
 0.04499718776364441,
 0.04485501619890056,
 0.04471132344049708,
 0.044679182451913386,
 0.044644263194955666,
 0.04436782547080569,
 0.04436782547080569,
 0.04436782547080569,
 0.04436782547080569,
 0.04436782547080569,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044367825470805686,
 0.044195522585053264,
 0.044143176809743535,
 0.044107601376045524,
 0.04398763143944888,
 0.0439219063596711,
 0.0439219063596711,
 0.043856854585978156,
 0.043698589146388744,
 0.043690414309698306,
 0.04356833970869075,
 0.04353844719079174,
 0.04352585472568647,
 0.043506232279099465,
 0.043471413360133104,
 0.04329856411352707,
 0.04329856411352706,
 0.04318447020213445,
 0.043110690669765354,
 0.0430938416233281,
 0.0430938416233281,
 0.043058750953708154,
 0.04304311312825917,
 0.04304311312825917,
 0.042992563359640995,
 0.04288573375988973,
 0.042460909546340846,
 0.042460909546340846,
 0.042446219731147254,
 0.042423755469329735,
 0.04229168843291971,
 0.04223963883573614,
 0.04222316921338598,
 0.042208423912006215,
 0.04209101499497353,
 0.04209101499497353,
 0.04209101499497353,
 0.04209101499497353,
 0.04209101499497353,
 0.04206955640831504,
 0.04202139433596193,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.04183038700921057,
 0.041830387009210566,
 0.04173773930518822,
 0.041502300476984284,
 0.041448366340517954,
 0.04140134605726963,
 0.041385708154518266,
 0.04137321058269337,
 0.041283561050299795,
 0.04126123957743235,
 0.04119942495159512,
 0.04107662460407248,
 0.04107662460407248,
 0.04107662460407248,
 0.04107662460407248,
 0.04107662460407248,
 0.04107662460407248,
 0.04107662460407247,
 0.04083428252087828,
 0.04053486107599856,
 0.04053002091919049,
 0.0404821413739241,
 0.04043487946811947,
 0.040417981465341334,
 0.040233937602494226,
 0.0401687417928365,
 0.040132208141082516,
 0.04009503146970246,
 0.039929005781519186,
 0.039929005781519186,
 0.039906109394647914,
 0.03984918857208522,
 0.03984348346977647,
 0.03976502559882462,
 0.03974594113360081,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662726,
 0.03968378950662725,
 0.03946514437436846,
 0.03940767165321923,
 0.03934522570038148,
 0.03925007386652797,
 0.03925007386652797,
 0.03925007386652797,
 0.03925007386652797,
 0.039199682173048804,
 0.039196853402908155,
 0.03896001224123778,
 0.0388978940734229,
 0.03884319035234555,
 0.03878445746099529,
 0.038625364377714695,
 0.038625364377714695,
 0.03851291766349013,
 0.03842366396839201,
 0.03842366396839201,
 0.03842366396839201,
 0.03842366396839201,
 0.038423663968392,
 0.038374747762730886,
 0.03832796353593348,
 0.03832796353593348,
 0.038312964620033675,
 0.03827444529218503,
 0.03810999615826061,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037837008694065886,
 0.037826836087700016,
 0.03781579366089029,
 0.037768401187587695,
 0.037647348308289516,
 0.037647348308289516,
 0.037647348308289516,
 0.037647348308289516,
 0.037647348308289516,
 0.037647348308289516,
 0.037623840751636974,
 0.03756479646343073,
 0.03754200616760482,
 0.03748659358217284,
 0.03741423555108759,
 0.03723265204326116,
 0.037230831331162305,
 0.03709503453340663,
 0.03691626224211396,
 0.03691626224211396,
 0.03691626224211396,
 0.03691626224211396,
 0.03685959872100526,
 0.03678112325432308,
 0.03672934325755458,
 0.036681870905729747,
 0.03660953427271284,
 0.03660472703294781,
 0.03639506532543501,
 0.03628670612602967,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,
 0.03622617780011093,

In [36]:
def recommend(course):
    course_index = df[df['title']==course].index
    distance = similarity[course_index]
    course_list = sorted(list(enumerate(similarity[0])),reverse=True,key= lambda x:x[1])[1:21] 
    recommended_list = []
    for i in course_list:
        recommended_list.append(i[0])
    return recommended_list

In [37]:
recommend('AI Foundations for Everyone')

[143,
 506,
 2184,
 4134,
 4117,
 3748,
 4647,
 5559,
 283,
 6165,
 574,
 4721,
 3114,
 116,
 762,
 1150,
 505,
 535,
 823,
 195]

In [38]:
query_vectorizer = CountVectorizer()
query_vectorizer.fit(df['title'])
def recommend(query, num_recommendations=20):
    # Transform the query using the query vectorizer
    query_vector = query_vectorizer.transform([query])
    
    # Calculate the cosine similarity between the query and course BoW vectors
    similarity_scores = cosine_similarity(query_vector, vectors)
    
    # Get the indices of courses with high similarity
    similar_courses = list(enumerate(similarity_scores[0]))
    sorted_similar_courses = sorted(similar_courses, key=lambda x: x[1], reverse=True)
    
    # Get the top N recommended courses
    top_recommendations = sorted_similar_courses[1:num_recommendations + 1]  # Exclude the query itself
    
    # Extract the course indices from the recommendations
    recommended_indices = [rec[0] for rec in top_recommendations]
    
    # Get the course titles based on the indices
    recommended_courses = df.iloc[recommended_indices]['title'].tolist()
    
    return recommended_courses

In [39]:
idx = recommend("Data Science")

In [40]:
idx

['Marketing en redes sociales de Meta',
 'First Principles of Computer Vision',
 'Diseño y Gestión de Proyectos de Desarrollo',
 'Sustainable Fashion',
 'Economics of Money and Banking',
 'Databases for Data Scientists',
 'Google IT Support',
 'Leverage Data Science for a More Agile Supply Chain',
 'Arts and Heritage Management',
 'Politics and Economics of International Energy',
 'Google UX Design',
 'Google Data Analytics',
 'Google Business Intelligence',
 'Uncommon Sense Teaching',
 'Google Project Management:',
 'Ciberseguridad de Google',
 'Google Advanced Data Analytics',
 'Essentials of Global Health',
 '(ISC)² Systems Security Certified Practitioner (SSCP)',
 '.NET FullStack Developer']

In [138]:
import pickle

In [142]:
pickle.dump(recommend,open('model.pkl','wb'))

In [57]:
query_vectorizer = CountVectorizer()
query_vectorizer.fit(df['title'])
def recommend(query, num_recommendations=20):
    # Transform the query using the query vectorizer
    query_vector = query_vectorizer.transform([query])
    
    # Calculate the cosine similarity between the query and course BoW vectors
    similarity_scores = cosine_similarity(query_vector, vectors)
    
    # Get the indices of courses with high similarity
    similar_courses = list(enumerate(similarity_scores[0]))
    sorted_similar_courses = sorted(similar_courses, key=lambda x: x[1], reverse=True)
    
    # Get the top N recommended courses
    top_recommendations = sorted_similar_courses[1:num_recommendations + 1]  # Exclude the query itself
    
    # Extract the course indices from the recommendations
    recommended_indices = [rec[0] for rec in top_recommendations]
    print(recommended_indices)
    # Get the course titles based on the indices
    recommended_courses = df.iloc[recommended_indices]['title'].tolist()
    listt = []
    for i in recommended_indices :
        res = {}
#         res['Index']=str(df[df['Index']==i]['title'])
        res['platform'] = (df[df['Index']==i]['platform'])
        res['level'] = (df[df['Index']==i]['level'])
        res['paid'] = (df[df['Index']==i]['paid'])
        res['ratings'] = (df[df['Index']==i]['ratings'])
        res['course_url'] = (df[df['Index']==i]['course_url'])
        res['course_img'] = (df[df['Index']==i]['course_img'])
        res['students_count'] = (df[df['Index']==i]['students_count'])
        res['description'] = (df[df['Index']==i]['description'])
        res['reviews_count'] = (df[df['Index']==i]['reviews_count'])
        listt.append(res)
        
    return listt

res['platform'] = str(df[df['Index']==i]['platform'])
        res['level'] = str(df[df['Index']==i]['level'])
        res['paid'] = str(df[df['Index']==i]['paid'])
        res['ratings'] = str(df[df['Index']==i]['ratings'])
        res['course_url'] = str(df[df['Index']==i]['course_url'])
        res['course_img'] = str(df[df['Index']==i]['course_img'])
        res['students_count'] = str(df[df['Index']==i]['students_count'])
        res['description'] = str(df[df['Index']==i]['description'])
        res['reviews_count'] = str(df[df['Index']==i]['reviews_count'])

In [58]:
Output = recommend("Web development")

[1625, 5565, 3370, 2117, 6110, 2978, 5115, 1295, 1386, 2294, 2324, 2828, 3189, 3617, 3903, 1706, 2168, 3510, 4568, 5737]

In [59]:
ans = pd.DataFrame(Output)

In [60]:
ans

,platform,level,paid,ratings,course_url,course_img,students_count,description,reviews_count
0,"1624 Udemy Name: platform, dtype: object","1624 All Levels Name: level, dtype: object","1624 Yes Name: paid, dtype: object","1624 4.0 Name: ratings, dtype: float64",1624 https://www.udemy.com/course/learn-dat...,1624 https://img-b.udemycdn.com/course/240x...,"1624 76523.0 Name: students_count, dtype: f...","1624 [A, Complete, Course, to, Master, Data...","1624 4090 reviews Name: reviews_count, dtyp..."
1,"5564 Udemy Name: platform, dtype: object","5564 Beginner Name: level, dtype: object","5564 Yes Name: paid, dtype: object","5564 3.9 Name: ratings, dtype: float64",5564 https://www.udemy.com/course/data-mode...,5564 https://img-b.udemycdn.com/course/240x...,"5564 4729.0 Name: students_count, dtype: fl...","5564 [Learn, Database, design, using, examp...","5564 159 reviews Name: reviews_count, dtype..."
2,"3369 Udemy Name: platform, dtype: object","3369 All Levels Name: level, dtype: object","3369 Yes Name: paid, dtype: object","3369 4.4 Name: ratings, dtype: float64",3369 https://www.udemy.com/course/ruby-rail...,3369 https://img-b.udemycdn.com/course/240x...,"3369 4039.0 Name: students_count, dtype: fl...","3369 [Learn, behavior-driven, development, ...","3369 510 reviews Name: reviews_count, dtype..."
3,"2116 Udemy Name: platform, dtype: object","2116 All Levels Name: level, dtype: object","2116 Yes Name: paid, dtype: object","2116 4.8 Name: ratings, dtype: float64",2116 https://www.udemy.com/course/cpp-4skil...,2116 https://img-b.udemycdn.com/course/240x...,"2116 13458.0 Name: students_count, dtype: f...","2116 [170, problems, to, enhance, problem-s...","2116 1677 reviews Name: reviews_count, dtyp..."
4,"6109 Udemy Name: platform, dtype: object","6109 All Levels Name: level, dtype: object","6109 Yes Name: paid, dtype: object","6109 4.2 Name: ratings, dtype: float64",6109 https://www.udemy.com/course/python-ha...,6109 https://img-b.udemycdn.com/course/240x...,"6109 32937.0 Name: students_count, dtype: f...","6109 [Section, 1-, 8, -, Beginner, Level,, ...","6109 129 reviews Name: reviews_count, dtype..."
5,"2977 Udemy Name: platform, dtype: object","2977 Expert Name: level, dtype: object","2977 Yes Name: paid, dtype: object","2977 4.6 Name: ratings, dtype: float64",2977 https://www.udemy.com/course/mastering...,2977 https://img-b.udemycdn.com/course/240x...,"2977 3527.0 Name: students_count, dtype: fl...","2977 [Leverage, Microsoft, SharePoint, 2019...","2977 686 reviews Name: reviews_count, dtype..."
6,"5114 Udemy Name: platform, dtype: object","5114 Beginner Name: level, dtype: object","5114 Yes Name: paid, dtype: object","5114 4.6 Name: ratings, dtype: float64",5114 https://www.udemy.com/course/build-you...,5114 https://img-b.udemycdn.com/course/240x...,"5114 10304.0 Name: students_count, dtype: f...","5114 [Create, and, test, your, own, cloud, ...","5114 192 reviews Name: reviews_count, dtype..."
7,"1294 Udemy Name: platform, dtype: object","1294 Beginner Name: level, dtype: object","1294 Yes Name: paid, dtype: object","1294 4.5 Name: ratings, dtype: float64",1294 https://www.udemy.com/course/microsoft...,1294 https://img-b.udemycdn.com/course/240x...,"1294 77317.0 Name: students_count, dtype: f...","1294 [A, comprehensive, course, to, teach, ...","1294 20991 reviews Name: reviews_count, dty..."
8,"1385 Udemy Name: platform, dtype: object","1385 All Levels Name: level, dtype: object","1385 Yes Name: paid, dtype: object","1385 4.5 Name: ratings, dtype: float64",1385 https://www.udemy.com/course/master-an...,1385 https://img-b.udemycdn.com/course/240x...,"1385 67801.0 Name: students_count, dtype: f...","1385 [Improve, your, career, options, by, l...","1385 10263 reviews Name: reviews_count, dty..."
9,"2293 Udemy Name: platform, dtype: object","2293 All Levels Name: level, dtype: object","2293 Yes Name: paid, dtype: object","2293 4.8 Name: ratings, dtype: float64",2293 https://www.udemy.com/course/rxjs-and-...,2293 https://img-b.udemycdn.com/course/240x...,"2293 5584.0 Name: students_count, dtype: fl...","2293 [Learn, how, Observables, work, and, b...","2293 1347 reviews Name: reviews_count, dtyp..."
10,"2323 Udemy Name: platform, dtype: object","2323 Beginner Name: level, dtype: object","2323 Yes Name: paid, dtype: object","2323 4.1 Name: ratings, dtype: float64",2323 https://www.udemy.com/course/scraping-...,2323 https://img-b.udemycdn.com/course/240x...,"2323 29271.0 Name: students_count, dtype: f...","2323 [Data, mining, visually, or, programma...","2323 1305 reviews Name: reviews_count, dtyp..."
11,"2827 Udemy Name: platform, dtype: object","2827 All Levels Name: level, dtype: object","2827 Yes Name: paid, dtype: object","2827 4.4 Name: ratings, dtype: float64",2827 https://www.udemy.com/course/salesforc...,2827 https://img-b.udemycdn.com/course/240x...,"2827 5217.0 Name: students_count, dtype: fl...","2827 [Learn, Salesforce, Development, and, ...","2827 772 reviews Name: reviews_count, dtype..."
12,"3188 Udemy Name: platform, dtype: object","3188 Beginner Name: level, dtype: object","3188 Yes Name: paid, dtype: object","3188 3.7 Name: ratings, dtype: float64",3188 https://www.udemy.com/course/etl-frame...,3188 https://img-b.udemycdn.com/course/240x...,"3188 3788.0 Name: students_count, dtype: fl...","3188 [The, non, functional, ETL, requiremen...","3188 583 reviews Name: reviews_count, dtype..."
13,"3616 Udemy Name: platform, dtype: object","3616 Beginner Name: level, dtype: object","3616 Yes Name: paid, dtype: object","3616 4.6 Name: ratings, dtype: float64",3616 https://www.udemy.com/course/arduino-i...,3616 https://img-b.udemycdn.com/course/240x...,"3616 3540.0 Name: students_count, dtype: fl...","3616 [Learn, the, Internet, of, Things.Buil...","3616 432 reviews Name: reviews_count, dtype..."
14,"3902 Udemy Name: platform, dtype: object","3902 All Levels Name: level, dtype: object","3902 Yes Name: paid, dtype: object","3902 4.5 Name: ratings, dtype: float64",3902 https://www.udemy.com/course/c-operati...,3902 https://img-b.udemycdn.com/course/240x...,"3902 35060.0 Name: students_count, dtype: f...","3902 [Learn, how, to, easily, use, the, fst...","3902 355 reviews Name: reviews_count, dtype..."
15,"1705 Udemy Name: platform, dtype: object","1705 All Levels Name: level, dtype: object","1705 Yes Name: paid, dtype: object","1705 4.5 Name: ratings, dtype: float64",1705 https://www.udemy.com/course/seleniumq...,1705 https://img-b.udemycdn.com/course/240x...,"1705 14766.0 Name: students_count, dtype: f...","1705 [Selenium, is, the, most, popular, too...","1705 3424 reviews Name: reviews_count, dtyp..."
16,"2167 Udemy Name: platform, dtype: object","2167 All Levels Name: level, dtype: object","2167 Yes Name: paid, dtype: object","2167 4.3 Name: ratings, dtype: float64",2167 https://www.udemy.com/course/kotlinand...,2167 https://img-b.udemycdn.com/course/240x...,"2167 66710.0 Name: students_count, dtype: f...","2167 [Learn, coding, and, designing, Androi...","2167 1560 reviews Name: reviews_count, dtyp..."
17,"3509 Udemy Name: platform, dtype: object","3509 All Levels Name: level, dtype: object","3509 Yes Name: paid, dtype: object","3509 4.5 Name: ratings, dtype: float64",3509 https://www.udemy.com/course/learn-pro...,3509 https://img-b.udemycdn.com/course/240x...,"3509 80552.0 Name: students_count, dtype: f...","3509 [Learn, how, to, create, your, own, vi...","3509 469 reviews Name: reviews_count, dtype..."
18,"4567 Udemy Name: platform, dtype: object","4567 Beginner Name: level, dtype: object","4567 Yes Name: paid, dtype: object","4567 4.9 Name: ratings, dtype: float64",4567 https://www.udemy.com/course/learn-jav...,4567 https://img-b.udemycdn.com/course/240x...,"4567 24214.0 Name: students_count, dtype: f...","4567 [Learn, Java, Programming, And, Become...","4567 249 reviews Name: reviews_count, dtype..."
19,"5736 Udemy Name: platform, dtype: object","5736 Beginner Name: level, dtype: object","5736 Yes Name: paid, dtype: object","5736 4.6 Name: ratings, dtype: float64",5736 https://www.udemy.com/course/einstein-...,5736 https://img-b.udemycdn.com/course/240x...,"5736 880.0 Name: students_count, dtype: flo...","5736 [Learn, how, to, implement, an, AI-pow...","5736 149 reviews Name: reviews_count, dtype..."

In [46]:
Output = recommend("Data Science")

In [47]:
ans = pd.DataFrame(Output)

In [48]:
ans

,Index,platform,level,paid,ratings,course_url,course_img,students_count,description,reviews_count
0,"650 Marketing Strategy\nName: title, dtype:...","650 Coursera\nName: platform, dtype: object","650 Beginner\nName: level, dtype: object","650 Yes\nName: paid, dtype: object","650 4.5\nName: ratings, dtype: float64",650 https://www.coursera.org/specialization...,650 https://coursera-university-assets.s3.a...,"650 58126.0\nName: students_count, dtype: f...","650 [Do, you, hear, the, word, “marketing”,...","650 5.8k\nName: reviews_count, dtype: object"
1,336 Fintech: Foundations & Applications of ...,"336 Coursera\nName: platform, dtype: object","336 Beginner\nName: level, dtype: object","336 Yes\nName: paid, dtype: object","336 4.6\nName: ratings, dtype: float64",336 https://www.coursera.org/specialization...,336 https://upload.wikimedia.org/wikipedia/...,"336 41405.0\nName: students_count, dtype: f...","336 [Wharton's, Fintech, Specialization, is...","336 3.4k\nName: reviews_count, dtype: object"
2,256 Diseño de Experiencia del Usuario (UX) ...,"256 Coursera\nName: platform, dtype: object","256 Beginner\nName: level, dtype: object","256 Yes\nName: paid, dtype: object","256 4.9\nName: ratings, dtype: float64",256 https://www.coursera.org/professional-c...,256 https://coursera-university-assets.s3.a...,"256 46382.0\nName: students_count, dtype: f...","256 [Comienza, tu, carrera, en, diseño, UX,...","256 3k\nName: reviews_count, dtype: object"
3,"871 Sustainable Cities\nName: title, dtype:...","871 Coursera\nName: platform, dtype: object","871 Intermediate\nName: level, dtype: object","871 Yes\nName: paid, dtype: object","871 4.6\nName: ratings, dtype: float64",871 https://www.coursera.org/specialization...,871 https://coursera-university-assets.s3.a...,"871 3945.0\nName: students_count, dtype: fl...","871 [This, Specialization, is, intended, fo...","871 155\nName: reviews_count, dtype: object"
4,272 Econometrics: Methods and Applications\...,"272 Coursera\nName: platform, dtype: object","272 Mixed\nName: level, dtype: object","272 Yes\nName: paid, dtype: object","272 4.6\nName: ratings, dtype: float64",272 https://www.coursera.org/learn/erasmus-...,272 https://coursera-university-assets.s3.a...,"272 174760.0\nName: students_count, dtype: ...","272 [Welcome!, Do, you, wish, to, know, how...","272 1.2k\nName: reviews_count, dtype: object"
5,226 Databases and SQL for Data Science with...,"226 Coursera\nName: platform, dtype: object","226 Beginner\nName: level, dtype: object","226 Yes\nName: paid, dtype: object","226 4.6\nName: ratings, dtype: float64",226 https://www.coursera.org/learn/sql-data...,226 https://coursera-university-assets.s3.a...,"226 378483.0\nName: students_count, dtype: ...","226 [Working, knowledge, of, SQL, (or, Stru...","226 18.4k\nName: reviews_count, dtype: object"
6,"420 Google IT Support\nName: title, dtype: ...","420 Coursera\nName: platform, dtype: object","420 Beginner\nName: level, dtype: object","420 Yes\nName: paid, dtype: object","420 4.5\nName: ratings, dtype: float64",420 https://www.coursera.org/professional-c...,420 https://coursera-university-assets.s3.a...,"420 5030.0\nName: students_count, dtype: fl...","420 [Préparez-vous, à, une, carrière, dans,...","420 149\nName: reviews_count, dtype: object"
7,617 Les Fondamentaux de la Négociation\nNam...,"617 Coursera\nName: platform, dtype: object","617 Beginner\nName: level, dtype: object","617 Yes\nName: paid, dtype: object","617 4.7\nName: ratings, dtype: float64",617 https://www.coursera.org/learn/fondamen...,617 https://coursera-university-assets.s3.a...,"617 34287.0\nName: students_count, dtype: f...","617 [Ce, cours, vous, donne, accès, aux, ou...","617 365\nName: reviews_count, dtype: object"
8,79 Artificial Intelligence: an Overview\nNa...,"79 Coursera\nName: platform, dtype: object","79 Beginner\nName: level, dtype: object","79 Yes\nName: paid, dtype: object","79 4.5\nName: ratings, dtype: float64",79 https://www.coursera.org/specializations...,79 https://coursera-university-assets.s3.am...,"79 2841.0\nName: students_count, dtype: flo...","79 [This, Specialization, is, intended, for...","79 167\nName: reviews_count, dtype: object"
9,729 Play It Safe: Manage Security Risks\nNa...,"729 Coursera\nName: platform, dtype: object","729 Beginner\nName: level, dtype: object","729 Yes\nName: paid, dtype: object","729 4.8\nName: ratings, dtype: float64",729 https://www.coursera.org/learn/manage-s...,729 https://coursera-university-assets.s3.a...,"729 136823.0\nName: students_count, dtype: ...","729 [This, is, the, second, course, in, the...","729 3k\nName: reviews_count, dtype: object"
10,428 Google Project Management:\nName: title...,"428 Coursera\nName: platform, dtype: object","428 Beginner\nName: level, dtype: object","428 Yes\nName: paid, dtype: object","428 4.8\nName: ratings, dtype: float64",428 https://www.coursera.org/professional-c...,428 https://coursera-university-assets.s3.a...,"428 1279089.0\nName: students_count, dtype:...","428 [Prepare, for, a, new, career, in, the,...","428 95.1k\nName: reviews_count, dtype: object"
11,"413 Google Cybersecurity\nName: title, dtyp...","413 Coursera\nName: platform, dtype: object","413 Beginner\nName: level, dtype: object","413 Yes\nName: paid, dtype: object","413 4.8\nName: ratings, dtype: float64",413 https://www.coursera.org/professional-c...,413 https://coursera-university-assets.s3.a...,"413 211455.0\nName: students_count, dtype: ...","413 [Prepare, for, a, new, career, in, the,...","413 14.1k\nName: reviews_count, dtype: object"
12,407 Google Advanced Data Analytics\nName: t...,"407 Coursera\nName: platform, dtype: object","407 Advanced\nName: level, dtype: object","407 Yes\nName: paid, dtype: object","407 4.7\nName: ratings, dtype: float64",407 https://www.coursera.org/professional-c...,407 https://coursera-university-assets.s3.a...,"407 51441.0\nName: students_count, dtype: f...","407 [Get, professional, training, designed,...","407 1.9k\nName: reviews_count, dtype: object"
13,"919 UI / UX Design\nName: title, dtype: object","919 Coursera\nName: platform, dtype: object","919 Beginner\nName: level, dtype: object","919 Yes\nName: paid, dtype: object","919 4.7\nName: ratings, dtype: float64",919 https://www.coursera.org/specialization...,919 https://coursera-university-assets.s3.a...,"919 167594.0\nName: students_count, dtype: ...","919 [The, UI/UX, Design, Specialization, br...","919 7.1k\nName: reviews_count, dtype: object"
14,427 Google Project Management (PT)\nName: t...,"427 Coursera\nName: platform, dtype: object","427 Beginner\nName: level, dtype: object","427 Yes\nName: paid, dtype: object","427 4.9\nName: ratings, dtype: float64",427 https://www.coursera.org/professional-c...,427 https://coursera-university-assets.s3.a...,"427 29351.0\nName: students_count, dtype: f...","427 [Prepare-se, para, uma, nova, carreira,...","427 1.8k\nName: reviews_count, dtype: object"
15,"147 Chinese for Beginners\nName: title, dty...","147 Coursera\nName: platform, dtype: object","147 Mixed\nName: level, dtype: object","147 Yes\nName: paid, dtype: object","147 4.8\nName: ratings, dtype: float64",147 https://www.coursera.org/learn/learn-ch...,147 https://coursera-university-assets.s3.a...,"147 1245776.0\nName: students_count, dtype:...","147 [Immerse, yourself, in, the, captivatin...","147 18.6k\nName: reviews_count, dtype: object"
16,406 Goodwill® Career Coach and Navigator\nN...,"406 Coursera\nName: platform, dtype: object","406 Beginner\nName: level, dtype: object","406 Yes\nName: paid, dtype: object","406 4.7\nName: ratings, dtype: float64",406 https://www.coursera.org/professional-c...,406 https://coursera-university-assets.s3.a...,"406 5411.0\nName: students_count, dtype: fl...","406 [Are, you, passionate, about, helping, ...","406 99\nName: reviews_count, dtype: object"
17,292 Essentials in Clinical Simulations Acro...,"292 Coursera\nName: platform, dtype: object","292 Intermediate\nName: level, dtype: object","292 Yes\nName: paid, dtype: object","292 4.8\nName: ratings, dtype: float64",292 https://www.coursera.org/learn/clinical...,292 https://coursera-university-assets.s3.a...,"292 18564.0\nName: students_count, dtype: f...","292 [This, 7-week, course, provides, you, w...","292 964\nName: reviews_count, dtype: object"
18,"Series([], Name: title, dtype: object)","Series([], Name: platform, dtype: object)","Series([], Name: level, dtype: object)","Series([], Name: paid, dtype: object)","Series([], Name: ratings, dtype: float64)","Series([], Name: course_url, dtype: object)","Series([], Name: course_img, dtype: object)","Series([], Name: students_count, dtype: float64)","Series([], Name: description, dtype: object)","Series([], Name: reviews_count, dtype: object)"
19,0 (ISC)² Systems Security Certified Practit...,"0 Coursera\nName: platform, dtype: object","0 Beginner\nName: level, dtype: object","0 Yes\nName: paid, dtype: object","0 4.7\nName: ratings, dtype: float64",0 https://www.coursera.org/specializations/...,0 https://upload.wikimedia.org/wikipedia/co...,"0 6706.0\nName: students_count, dtype: float64","0 [Pursue, better, IT, security, job, oppor...","0 484\nName: reviews_count, dtype: object"

In [146]:
df[df['title']==idx[1]]['Tags']

5565    A Guide for Python Developers
Name: Tags, dtype: object

In [147]:
idx

['GIT and Visual Studio with Azure DevOps Repos for Developers',
 'Building Web Apps Using Flask and Neo4j',
 'SQL Tutorial For Tester',
 'Visual Studio Code Ultimate Guide',
 'Encryption and Cryptography for Professionals',
 'C# for Beginners - Coding From Scratch',
 'Learn Basic Microsoft ASP.Net Development with Visual Studio',
 "Learn How To Code: Google's Go (golang) Programming Language",
 'Pre-Programming: Everything you need to know before you code',
 'Unreal Engine 4 - VFX for Games - Beginner to Intermediate',
 'Atlassian Bamboo from Beginner to Advanced!',
 'CDI/CD with TeamCity From Beginner to Advanced',
 'Git by Example',
 'RESTful Web services with ASP.NET Core',
 'C# and Windows Forms Exercises for Beginners (step by step)',
 'Introduction to Continuous Integration & Continuous Delivery',
 'The Bubble Beginners Bootcamp (2019) - Visual Programming',
 'JavaScript for Beginning Web Developers',
 "What's New in C# 6, C# 7 and Visual Studio 2017",
 'C# And Visual Studio Productivity Masterclass']

In [148]:
ids

[1625,
 5565,
 3370,
 2117,
 6110,
 2978,
 5115,
 1295,
 1386,
 2294,
 2324,
 2828,
 3189,
 3617,
 3903,
 1706,
 2168,
 3510,
 4568,
 5737]

In [157]:
pickle.dump(df,open('df.pkl','wb'))

In [158]:
pickle.dump(cosine_similarity,open('cosine_similarity.pkl','wb'))

In [159]:
pickle.dump(vectors,open('vectors.pkl','wb'))

In [160]:
pickle.dump(query_vectorizer,open('query_vectorizer.pkl','wb'))

In [161]:
pickle.dump(num_recommendations,open('num_recommendations.pkl','wb'))

NameError: name 'num_recommendations' is not defined

In [162]:
df.columns

Index(['Index', 'title', 'reviews_count', 'course_duration', 'platform',
       'ratings', 'description', 'students_count', 'course_img', 'course_url',
       'paid', 'level', 'organization', 'course_certificate_type',
       'course_skills', 'course_summary', 'Type', 'Prerequisites', 'domain',
       'instructor', 'lectures_count', 'Tags'],
      dtype='object')