In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('combined_data.csv')

In [3]:
df.head(5)

,title,organization,course_certificate_type,course_duration,ratings,reviews_count,level,course_url,students_count,course_skills,course_summary,description,platform,course_img,paid,Type,Prerequisites,domain,instructor,lectures_count
0,(ISC)² Systems Security Certified Practitioner...,NaN,NaN,3 - 6 Months,4.7,484,Beginner,https://www.coursera.org/specializations/sscp-...,"6,706",NaN,NaN,Pursue better IT security job opportunities an...,Coursera,https://upload.wikimedia.org/wikipedia/commons...,Yes,NaN,NaN,NaN,NaN,NaN
1,.NET FullStack Developer,NaN,NaN,1 - 3 Months,4.3,49,Intermediate,https://www.coursera.org/specializations/dot-n...,"2,140",NaN,NaN,Develop the proficiency required to design and...,Coursera,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",Yes,NaN,NaN,NaN,NaN,NaN
2,21st Century Energy Transition: how do we make...,NaN,NaN,1 - 3 Months,4.8,59,Beginner,https://www.coursera.org/learn/21st-century-en...,"4,282",NaN,NaN,"Affordable, abundant and reliable energy is fu...",Coursera,https://www.ualberta.ca/media-library/ualberta...,Yes,NaN,NaN,NaN,NaN,NaN
3,A Crash Course in Causality: Inferring Causal...,NaN,NaN,1 - 3 Months,4.7,515,Intermediate,https://www.coursera.org/learn/crash-course-in...,"38,833",NaN,NaN,We have all heard the phrase “correlation does...,Coursera,https://upload.wikimedia.org/wikipedia/commons...,Yes,NaN,NaN,NaN,NaN,NaN
4,AI & Law,NaN,NaN,1 - 4 Weeks,4.7,361,Beginner,https://www.coursera.org/learn/ai-law,"25,442",NaN,NaN,About this Course\nThis four-week course title...,Coursera,https://www.google.com/url?sa=i&url=https%3A%2...,Yes,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(6214, 20)

In [5]:
col = df.columns

In [6]:
col

Index(['title', 'organization', 'course_certificate_type', 'course_duration',
       'ratings', 'reviews_count', 'level', 'course_url', 'students_count',
       'course_skills', 'course_summary', 'description', 'platform',
       'course_img', 'paid', 'Type', 'Prerequisites', 'domain', 'instructor',
       'lectures_count'],
      dtype='object')

In [8]:
df['ratings'].unique()

array(['4.7', '4.3', '4.8', '4.9', '4.2', '4.1', '4.6', '4.0', '4.5',
       '4.4', '5.0', '3.9', '3.4', '2.7', '3.7', '3.3', nan,
       'Rating: 4.6 out of 5', 'Rating: 4.7 out of 5',
       'Rating: 4.5 out of 5', 'Rating: 4.8 out of 5',
       'Rating: 4.4 out of 5', 'Rating: 4.3 out of 5',
       'Rating: 4.2 out of 5', 'Rating: 4.1 out of 5',
       'Rating: 3.5 out of 5', 'Rating: 3.9 out of 5',
       'Rating: 4.0 out of 5', 'Rating: 3.8 out of 5',
       'Rating: 3.2 out of 5', 'Rating: 3.6 out of 5', '399.99"',
       'Rating: 3.7 out of 5', 'Rating: 2.8 out of 5',
       'Rating: 4.9 out of 5', 'Rating: 3.3 out of 5',
       'Rating: 3.4 out of 5', 'Rating: 3.1 out of 5',
       'Rating: 2.9 out of 5', 'Rating: 2.7 out of 5',
       'Rating: 3.0 out of 5', 'Rating: 2.6 out of 5',
       'Rating: 2.1 out of 5', 'Rating: 2.5 out of 5',
       'Rating: 5.0 out of 5', 'Rating: 2.4 out of 5',
       'Rating: 1.9 out of 5', 'Rating: 1.7 out of 5'], dtype=object)

In [9]:
s = 'Rating: 5.0 out of 5'

In [21]:
dic =  s.split(' ')
len(s)

20

In [14]:
float(dic[1])

5.0

In [15]:
backup = df

In [18]:
type(df['ratings'][1])

str

In [23]:
def extract_and_convert(value):
    if len(value) == 20:
        parts = str(value).split()
        for part in parts:
            try:
                return float(part)
            except ValueError:
                continue
    return float(value)

# Apply the function to the 'Rating' column and replace the values
df['ratings'] = df['ratings'].apply(extract_and_convert)

TypeError: object of type 'float' has no len()

In [24]:
def extract_and_convert(value):
    if type(value)== str:
        if len(value)==20:
            dic = value.split(' ')
            return dic[1]
    else:
        return value
df['ratings'] = df['ratings'].apply(extract_and_convert)

In [26]:
uni = df['ratings'].unique()

In [27]:
uni

array([None, nan, '4.6', '4.7', '4.5', '4.8', '4.4', '4.3', '4.2', '4.1',
       '3.5', '3.9', '4.0', '3.8', '3.2', '3.6', '3.7', '2.8', '4.9',
       '3.3', '3.4', '3.1', '2.9', '2.7', '3.0', '2.6', '2.1', '2.5',
       '5.0', '2.4', '1.9', '1.7'], dtype=object)

In [30]:
df['ratings'] = pd.to_numeric(df['ratings'], errors='coerce')

In [31]:
uni = df['ratings'].unique()
uni

array([nan, 4.6, 4.7, 4.5, 4.8, 4.4, 4.3, 4.2, 4.1, 3.5, 3.9, 4. , 3.8,
       3.2, 3.6, 3.7, 2.8, 4.9, 3.3, 3.4, 3.1, 2.9, 2.7, 3. , 2.6, 2.1,
       2.5, 5. , 2.4, 1.9, 1.7])

In [32]:
df['ratings'].fillna(df['ratings'].mean(),inplace=True)

In [33]:
df['ratings']

0       4.305389
1       4.305389
2       4.305389
3       4.305389
4       4.305389
          ...
6209    4.900000
6210    3.600000
6211    4.500000
6212    3.800000
6213    3.600000
Name: ratings, Length: 6214, dtype: float64

In [35]:
df['students_count'].shape

(6214,)

In [36]:
df['students_count'].unique()

array(['6,706', '2,140', '4,282', ..., '1,102 students',
       '45,245 students', '4,653 students'], dtype=object)

In [37]:
df['students_count'] = df['students_count'].str.replace(' students', '').str.replace(',', '')
# df['students_count'] = df['students_count'].str.replace(',', '').str.replace(',', '')

# Convert 'Column_Name' to float
df['students_count'] = pd.to_numeric(df['students_count'], errors='coerce')

print(df)

                                                  title  organization  \
0     (ISC)² Systems Security Certified Practitioner...           NaN
1                              .NET FullStack Developer           NaN
2     21st Century Energy Transition: how do we make...           NaN
3     A Crash Course in Causality:  Inferring Causal...           NaN
4                                              AI & Law           NaN
...                                                 ...           ...
6209  Game Theory Algorithms in Competitive Programm...           NaN
6210  Siemens WinCC SCADA Programming, SCADA1 ( Basic )           NaN
6211  Python Object Oriented Programming (OOP): Begi...           NaN
6212                                jQuery Basics Guide           NaN
6213  Introduction to Android Development for beginners           NaN

      course_certificate_type  course_duration   ratings reviews_count  \
0                         NaN     3 - 6 Months  4.305389           484
1                         NaN     1 - 3 Months  4.305389            49
2                         NaN     1 - 3 Months  4.305389            59
3                         NaN     1 - 3 Months  4.305389           515
4                         NaN      1 - 4 Weeks  4.305389           361
...                       ...              ...       ...           ...
6209                      NaN    8 total hours  4.900000   124 reviews
6210                      NaN  2.5 total hours  3.600000   124 reviews
6211                      NaN   27 total hours  4.500000   124 reviews
6212                      NaN    4 total hours  3.800000   124 reviews
6213                      NaN    8 total hours  3.600000   124 reviews

             level                                         course_url  \
0         Beginner  https://www.coursera.org/specializations/sscp-...
1     Intermediate  https://www.coursera.org/specializations/dot-n...
2         Beginner  https://www.coursera.org/learn/21st-century-en...
3     Intermediate  https://www.coursera.org/learn/crash-course-in...
4         Beginner              https://www.coursera.org/learn/ai-law
...            ...                                                ...
6209    All Levels  https://www.udemy.com/course/game-theory-algor...
6210        Expert  https://www.udemy.com/course/siemens-wincc-scada/
6211    All Levels  https://www.udemy.com/course/object-oriented-p...
6212      Beginner   https://www.udemy.com/course/learn-basic-jquery/
6213      Beginner  https://www.udemy.com/course/introduction-to-a...

      students_count  course_skills  course_summary  \
0             6706.0            NaN             NaN
1             2140.0            NaN             NaN
2             4282.0            NaN             NaN
3            38833.0            NaN             NaN
4            25442.0            NaN             NaN
...              ...            ...             ...
6209          5087.0            NaN             NaN
6210           422.0            NaN             NaN
6211          1102.0            NaN             NaN
6212         45245.0            NaN             NaN
6213          4653.0            NaN             NaN

                                            description  platform  \
0     Pursue better IT security job opportunities an...  Coursera
1     Develop the proficiency required to design and...  Coursera
2     Affordable, abundant and reliable energy is fu...  Coursera
3     We have all heard the phrase “correlation does...  Coursera
4     About this Course\nThis four-week course title...  Coursera
...                                                 ...       ...
6209  Dive deep into game theory algorithms, learn &...     Udemy
6210  This course is a great push for any one who wa...     Udemy
6211         Deep OOP Foundations From Absolute Scratch     Udemy
6212  Everything you need to know to Build a Retirem...     Udemy
6213    Create an Android App step by step from scratch     Udemy

                                             course_img paid Type  \
0     https://upload.wikimedia.org/wikipedia/commons...  Yes  NaN
1     data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...  Yes  NaN
2     https://www.ualberta.ca/media-library/ualberta...  Yes  NaN
3     https://upload.wikimedia.org/wikipedia/commons...  Yes  NaN
4     https://www.google.com/url?sa=i&url=https%3A%2...  Yes  NaN
...                                                 ...  ...  ...
6209  https://img-b.udemycdn.com/course/240x135/3878...  Yes  NaN
6210  https://img-b.udemycdn.com/course/240x135/2858...  Yes  NaN
6211  https://img-b.udemycdn.com/course/240x135/4450...  Yes  NaN
6212  https://img-b.udemycdn.com/course/240x135/2554...  Yes  NaN
6213  https://img-b.udemycdn.com/course/240x135/1389...  Yes  NaN

     Prerequisites domain                   instructor lectures_count
0              NaN    NaN                          NaN            NaN
1              NaN    NaN                          NaN            NaN
2              NaN    NaN                          NaN            NaN
3              NaN    NaN                          NaN            NaN
4              NaN    NaN                          NaN            NaN
...            ...    ...                          ...            ...
6209           NaN    NaN  Apaar Kamal, Coding Minutes    41 lectures
6210           NaN    NaN            Serkan Büyüktopçu    17 lectures
6211           NaN    NaN                     Andy Bek   231 lectures
6212           NaN    NaN              Learn Tech Plus   102 lectures
6213           NaN    NaN  Bluelime Learning Solutions    71 lectures

[6214 rows x 20 columns]

In [38]:
df['students_count'].unique()

array([ 6706.,  2140.,  4282., ...,  1102., 45245.,  4653.])

In [39]:
backup2 = df

In [40]:
df['students_count'].isnull().sum()

268

In [41]:
df['students_count'].fillna(df['students_count'].mean(),inplace=True)

In [42]:
df['students_count'].isnull().sum()

0

In [44]:
df['ratings'] = df['ratings']
m = 1000

# Calculate overall average rating 'C'
C = df['ratings'].mean()

# Calculate Bayesian Average and add a new column 'Bayesian_Average'
df['Bayesian_Average'] = (df['students_count'] / (df['students_count'] + m)) * df['ratings'] + (m / (df['students_count'] + m)) * C

In [45]:
df['Bayesian_Average']

0       4.305389
1       4.305389
2       4.305389
3       4.305389
4       4.305389
          ...
6209    4.802315
6210    4.096054
6211    4.407416
6212    3.810929
6213    3.724781
Name: Bayesian_Average, Length: 6214, dtype: float64

In [46]:
filtered_df = df[df['Bayesian_Average'] > 4.85]

# Sort the filtered DataFrame in descending order
sorted_df = filtered_df.sort_values(by='Bayesian_Average', ascending=False)

# Get the top 20 rows
top_20_rows = sorted_df.head(20)

print(top_20_rows)

                                                  title  organization  \
6159  Build A Blog Using AspNet Core, Angular 14 And...           NaN
4425        Lambda with Functional Programming in Java8           NaN
5004     WP Plugin Development - Build your own plugin!           NaN
2150  Running a Web Development Business: The Comple...           NaN
5453  Front End Web Development Niche Website Comple...           NaN
2005  Learn WordPress & Using WordPress to Make Mone...           NaN
2275                              C# .NET For Beginners           NaN
2003  Python 3: Deep Dive (Part 2 - Iteration, Gener...           NaN
4567      Learn Java Programming - Beginners guide 2022           NaN
2524  Machine Learning and AI: Support Vector Machin...           NaN
6078             Python 3: From ZERO to GUI programming           NaN
2384           Python 3: Deep Dive (Part 3 - Hash Maps)           NaN
2212        How To Get A Job In The Video Game Industry           NaN
3894                         Test your Core Java skills           NaN
4917  Build An MP3 Player With Python And TKinter GU...           NaN
5945  The Art of Doing: Dive Into Android Developmen...           NaN
3831  The Ultimate iOS 11 & Swift 4 Course. Learn to...           NaN
5106  Complete SQL Bootcamp With MySQL - SQL Intervi...           NaN
3790                         CSS - MASTERING ANIMATIONS           NaN
5988  Bash Shell Programming for Data Sciences: Anim...           NaN

      course_certificate_type   course_duration  ratings reviews_count  \
6159                      NaN    16 total hours      5.0   127 reviews
4425                      NaN  10.5 total hours      4.9   265 reviews
5004                      NaN     4 total hours      4.9   202 reviews
2150                      NaN  19.5 total hours      4.9  1599 reviews
5453                      NaN    10 total hours      4.9   167 reviews
2005                      NaN   6.5 total hours      4.9  1974 reviews
2275                      NaN     4 total hours      4.9  1372 reviews
2003                      NaN    36 total hours      4.9  1981 reviews
4567                      NaN     4 total hours      4.9   249 reviews
2524                      NaN     9 total hours      4.9  1043 reviews
6078                      NaN   9.5 total hours      4.9   130 reviews
2384                      NaN    22 total hours      4.9  1220 reviews
2212                      NaN   6.5 total hours      4.9  1478 reviews
3894                      NaN     139 questions      4.9   357 reviews
4917                      NaN     3 total hours      4.9   210 reviews
5945                      NaN    17 total hours      4.9   137 reviews
3831                      NaN    70 total hours      4.9   373 reviews
5106                      NaN  21.5 total hours      4.9   192 reviews
3790                      NaN     2 total hours      4.9   382 reviews
5988                      NaN     7 total hours      4.9   135 reviews

                        level  \
6159                 Beginner
4425             Intermediate
5004                 Beginner
2150               All Levels
5453               All Levels
2005               All Levels
2275                 Beginner
2003             Intermediate
4567                 Beginner
2524                   Expert
6078                 Beginner
2384             Intermediate
2212               All Levels
3894  Current price: E£199.99
4917             Intermediate
5945                 Beginner
3831                 Beginner
5106               All Levels
3790                 Beginner
5988                 Beginner

                                             course_url  students_count  \
6159  https://www.udemy.com/course/learn-web-develop...         10642.0
4425  https://www.udemy.com/course/lambda-with-funct...         43245.0
5004  https://www.udemy.com/course/wp-plugin-develop...         35554.0
2150  https://www.udemy.com/course/the-complete-guid...         33360.0
5453  https://www.udemy.com/course/front-end-web-dev...         32271.0
2005  https://www.udemy.com/course/learn-wordpress-u...         26872.0
2275  https://www.udemy.com/course/c-net-for-beginners/         26631.0
2003  https://www.udemy.com/course/python-3-deep-div...         26309.0
4567  https://www.udemy.com/course/learn-java-progra...         24214.0
2524  https://www.udemy.com/course/support-vector-ma...         23016.0
6078  https://www.udemy.com/course/python-3-from-zer...         20797.0
2384  https://www.udemy.com/course/python-3-deep-div...         20423.0
2212     https://www.udemy.com/course/gameindustryjobs/         19831.0
3894         https://www.udemy.com/course/testcorejava/         18745.0
4917  https://www.udemy.com/course/build-an-mp3-play...         18195.0
5945  https://www.udemy.com/course/the-art-of-doing-...         17402.0
3831        https://www.udemy.com/course/ios11tutorial/         16824.0
5106  https://www.udemy.com/course/practical-sql-mas...         16433.0
3790  https://www.udemy.com/course/css-mastering-ani...         15661.0
5988  https://www.udemy.com/course/hello-big-data-at...         13671.0

      course_skills  ...                                        description  \
6159            NaN  ...  Use Angular, Bootstrap, Asp.Net Core, SQL Serv...
4425            NaN  ...  Lambda expression with Functional Programming ...
5004            NaN  ...  Learn to create your own WordPress Plugin - St...
2150            NaN  ...  Learn how to start and grow a successful web d...
5453            NaN  ...  Front End Web Development Niche Website Comple...
2005            NaN  ...  Learn WordPress & Make 6 Figures Online with W...
2275            NaN  ...  An introduction to programming using C# and Mi...
2003            NaN  ...  Sequences, Iterables, Iterators, Generators, C...
4567            NaN  ...  Learn Java Programming And Become a Software D...
2524            NaN  ...  Artificial Intelligence and Data Science Algor...
6078            NaN  ...  Start your journey with Python 3 without any p...
2384            NaN  ...    Dictionaries, Sets, and Related Data Structures
2212            NaN  ...  Create a Winning Resume, Portfolio, LinkedIn P...
3894            NaN  ...  139 multiple choice questions to test your Cor...
4917            NaN  ...  Build Graphical User Interface Apps with Pytho...
5945            NaN  ...  Master the fundamentals and begin your journey...
3831            NaN  ...  A Beginner's Guide to Xcode 9, Swift 4.0, ARKi...
5106            NaN  ...  Learn Complete SQL - SQL Beginner to Advanced ...
3790            NaN  ...  Make your web page alive with css animations &...
5988            NaN  ...  Innovative Project-based Animated Linux Comman...

     platform                                         course_img paid Type  \
6159    Udemy  https://img-b.udemycdn.com/course/240x135/2896...  Yes  NaN
4425    Udemy  https://img-b.udemycdn.com/course/240x135/2745...  Yes  NaN
5004    Udemy  data:image/svg+xml,%3Csvg xmlns="http://www.w3...  Yes  NaN
2150    Udemy  https://img-b.udemycdn.com/course/240x135/3696...  Yes  NaN
5453    Udemy  https://img-b.udemycdn.com/course/240x135/3964...  Yes  NaN
2005    Udemy  https://img-b.udemycdn.com/course/240x135/4278...  Yes  NaN
2275    Udemy  https://img-b.udemycdn.com/course/240x135/2199...  Yes  NaN
2003    Udemy  https://img-b.udemycdn.com/course/240x135/1647...  Yes  NaN
4567    Udemy  https://img-b.udemycdn.com/course/240x135/2404...  Yes  NaN
2524    Udemy  https://img-b.udemycdn.com/course/240x135/2020...  Yes  NaN
6078    Udemy  https://img-b.udemycdn.com/course/240x135/2433...  Yes  NaN
2384    Udemy  https://img-b.udemycdn.com/course/240x135/1887...  Yes  NaN
2212    Udemy  https://img-b.udemycdn.com/course/240x135/9863...  Yes  NaN
3894    Udemy  https://img-b.udemycdn.com/course/240x135/1441...  Yes  NaN
4917    Udemy  https://img-b.udemycdn.com/course/240x135/3359...  Yes  NaN
5945    Udemy  https://img-b.udemycdn.com/course/240x135/3884...  Yes  NaN
3831    Udemy  https://img-b.udemycdn.com/course/240x135/1296...  Yes  NaN
5106    Udemy  https://img-b.udemycdn.com/course/240x135/3350...  Yes  NaN
3790    Udemy  https://img-b.udemycdn.com/course/240x135/1726...  Yes  NaN
5988    Udemy  https://img-b.udemycdn.com/course/240x135/1124...  Yes  NaN

     Prerequisites domain                                         instructor  \
6159           NaN    NaN                                   Avetis Ghukasyan
4425           NaN    NaN                                       Arun Ammasai
5004           NaN    NaN        Stefan Haberl, Daniel Angeloff, Sandor Kiss
2150           NaN    NaN                                      Evan Kimbrell
5453           NaN    NaN                                    Muhammad Ismail
2005           NaN    NaN                                    Zeeshan Hussain
2275           NaN    NaN                                      Rick Phillips
2003           NaN    NaN                                      Fred Baptiste
4567           NaN    NaN                                       Mark Nielsen
2524           NaN    NaN                               Lazy Programmer Inc.
6078           NaN    NaN                        LearningWhilePracticing LWP
2384           NaN    NaN                                      Fred Baptiste
2212           NaN    NaN                     Rick Davidson, GameDev.tv Team
3894           NaN    NaN                                     Udayan Khattry
4917           NaN    NaN                                         John Elder
5945           NaN    NaN                                      Michael Eramo
3831           NaN    NaN                     Mammoth Interactive, John Bura
5106           NaN    NaN                                    Prashant Munshi
3790           NaN    NaN                                      Driss Boumlik
5988           NaN    NaN  Scientific Programmer™ Team, Scientific Progra...

     lectures_count Bayesian_Average
6159    96 lectures         4.940336
4425    72 lectures         4.886561
5004    24 lectures         4.883733
2150    99 lectures         4.882695
5453    97 lectures         4.882128
2005    76 lectures         4.878666
2275    19 lectures         4.878480
2003   141 lectures         4.878227
4567    49 lectures         4.876417
2524    73 lectures         4.875241
6078    84 lectures         4.872721
2384    84 lectures         4.872244
2212    48 lectures         4.871455
3894       Beginner         4.869886
4917    43 lectures         4.869023
5945    84 lectures         4.867688
3831   383 lectures         4.866640
5106   159 lectures         4.865892
3790    28 lectures         4.864311
5988   100 lectures         4.859470

[20 rows x 21 columns]

In [48]:
top_20_rows.to_string()

'                                                             title  organization  course_certificate_type   course_duration  ratings reviews_count                    level                                                                                course_url  students_count  course_skills  course_summary                                                                                                               description platform                                                                                       course_img paid Type Prerequisites domain                                                  instructor lectures_count  Bayesian_Average\n6159     Build A Blog Using AspNet Core, Angular 14 And SQL Server           NaN                      NaN    16 total hours      5.0   127 reviews                 Beginner                    https://www.udemy.com/course/learn-web-development-by-building-a-blog/         10642.0            NaN             NaN   Use Angular, Bootstrap, Asp.Net Core, SQL Server & learn full stack web development by building a blogging application.    Udemy                                       https://img-b.udemycdn.com/course/240x135/2896138_8024.jpg  Yes  NaN           NaN    NaN                                            Avetis Ghukasyan    96 lectures          4.940336\n4425                   Lambda with Functional Programming in Java8           NaN                      NaN  10.5 total hours      4.9   265 reviews             Intermediate                  https://www.udemy.com/course/lambda-with-functional-programming-in-java/         43245.0            NaN             NaN                                                                     Lambda expression with Functional Programming Example    Udemy                                     https://img-b.udemycdn.com/course/240x135/2745650_cc33_4.jpg  Yes  NaN           NaN    NaN                                                Arun Ammasai    72 lectures          4.886561\n5004                WP Plugin Development - Build your own plugin!           NaN                      NaN     4 total hours      4.9   202 reviews                 Beginner                 https://www.udemy.com/course/wp-plugin-development-build-your-own-plugin/         35554.0            NaN             NaN                                                                  Learn to create your own WordPress Plugin - Step by Step    Udemy  data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 260 145"%3E%3C/svg%3E  Yes  NaN           NaN    NaN                 Stefan Haberl, Daniel Angeloff, Sandor Kiss    24 lectures          4.883733\n2150        Running a Web Development Business: The Complete Guide           NaN                      NaN  19.5 total hours      4.9  1599 reviews               All Levels    https://www.udemy.com/course/the-complete-guide-to-running-a-web-development-business/         33360.0            NaN             NaN     Learn how to start and grow a successful web development business. Get up & running and making sales in under a week.    Udemy                                      https://img-b.udemycdn.com/course/240x135/369662_7246_2.jpg  Yes  NaN           NaN    NaN                                               Evan Kimbrell    99 lectures          4.882695\n5453      Front End Web Development Niche Website Complete Project           NaN                      NaN    10 total hours      4.9   167 reviews               All Levels    https://www.udemy.com/course/front-end-web-development-niche-website-complete-project/         32271.0            NaN             NaN              Front End Web Development Niche Website Complete Project Web Development Classifieds Websites  Niche Website    Udemy                                     https://img-b.udemycdn.com/course/240x135/3964308_e12d_3.jpg  Yes  NaN           NaN    NaN                                             Muhammad Ismail    97 lectures          4.882128\n2005        Learn WordPress & Using WordPress to Make Money Online           NaN                      NaN   6.5 total hours      4.9  1974 reviews               All Levels    https://www.udemy.com/course/learn-wordpress-using-wordpress-to-make-6-figures-online/         26872.0            NaN             NaN          Learn WordPress & Make 6 Figures Online with WordPress – Watch Intro Lecture of this WordPress Web Design Course    Udemy                                     https://img-b.udemycdn.com/course/240x135/4278348_4d84_2.jpg  Yes  NaN           NaN    NaN                                             Zeeshan Hussain    76 lectures          4.878666\n2275                                         C# .NET For Beginners           NaN                      NaN     4 total hours      4.9  1372 reviews                 Beginner                                         https://www.udemy.com/course/c-net-for-beginners/         26631.0            NaN             NaN                                                     An introduction to programming using C# and Microsoft\'s .NET platform    Udemy                                     https://img-b.udemycdn.com/course/240x135/2199240_71fd_3.jpg  Yes  NaN           NaN    NaN                                               Rick Phillips    19 lectures          4.878480\n2003          Python 3: Deep Dive (Part 2 - Iteration, Generators)           NaN                      NaN    36 total hours      4.9  1981 reviews             Intermediate                                   https://www.udemy.com/course/python-3-deep-dive-part-2/         26309.0            NaN             NaN                              Sequences, Iterables, Iterators, Generators, Context Managers and Generator-based Coroutines    Udemy                                     https://img-b.udemycdn.com/course/240x135/1647776_226e_2.jpg  Yes  NaN           NaN    NaN                                               Fred Baptiste   141 lectures          4.878227\n4567                 Learn Java Programming - Beginners guide 2022           NaN                      NaN     4 total hours      4.9   249 reviews                 Beginner            https://www.udemy.com/course/learn-java-programming-from-beginner-to-pro-2020/         24214.0            NaN             NaN                                                                   Learn Java Programming And Become a Software Developer.    Udemy                                     https://img-b.udemycdn.com/course/240x135/2404700_b3cc_2.jpg  Yes  NaN           NaN    NaN                                                Mark Nielsen    49 lectures          4.876417\n2524    Machine Learning and AI: Support Vector Machines in Python           NaN                      NaN     9 total hours      4.9  1043 reviews                   Expert                           https://www.udemy.com/course/support-vector-machines-in-python/         23016.0            NaN             NaN                           Artificial Intelligence and Data Science Algorithms in Python for Classification and Regression    Udemy                                     https://img-b.udemycdn.com/course/240x135/2020688_733c_2.jpg  Yes  NaN           NaN    NaN                                        Lazy Programmer Inc.    73 lectures          4.875241\n6078                        Python 3: From ZERO to GUI programming           NaN                      NaN   9.5 total hours      4.9   130 reviews                 Beginner                       https://www.udemy.com/course/python-3-from-zero-to-gui-programming/         20797.0            NaN             NaN                        Start your journey with Python 3 without any prior knowledge and be Python operational right away!    Udemy                                       https://img-b.udemycdn.com/course/240x135/2433192_06ea.jpg  Yes  NaN           NaN    NaN                                 LearningWhilePracticing LWP    84 lectures          4.872721\n2384                      Python 3: Deep Dive (Part 3 - Hash Maps)           NaN                      NaN    22 total hours      4.9  1220 reviews             Intermediate                                   https://www.udemy.com/course/python-3-deep-dive-part-3/         20423.0            NaN             NaN                                                                           Dictionaries, Sets, and Related Data Structures    Udemy                                       https://img-b.udemycdn.com/course/240x135/1887122_aae5.jpg  Yes  NaN           NaN    NaN                                               Fred Baptiste    84 lectures          4.872244\n2212                   How To Get A Job In The Video Game Industry           NaN                      NaN   6.5 total hours      4.9  1478 reviews               All Levels                                            https://www.udemy.com/course/gameindustryjobs/         19831.0            NaN             NaN                 Create a Winning Resume, Portfolio, LinkedIn Profile & Job Application. Dominate Interviews & Networking.    Udemy                                     https://img-b.udemycdn.com/course/240x135/986308_ac87_10.jpg  Yes  NaN           NaN    NaN                              Rick Davidson, GameDev.tv Team    48 lectures          4.871455\n3894                                    Test your Core Java skills           NaN                      NaN     139 questions      4.9   357 reviews  Current price: E£199.99                                                https://www.udemy.com/course/testcorejava/         18745.0            NaN             NaN                                                               139 multiple choice questions to test your Core Java skills    Udemy                                     https://img-b.udemycdn.com/course/240x135/1441478_04f1_6.jpg  Yes  NaN           NaN    NaN                                              Udayan Khattry       Beginner          4.869886\n4917          Build An MP3 Player With Python And TKinter GUI Apps           NaN                      NaN     3 total hours      4.9   210 reviews             Intermediate        https://www.udemy.com/course/build-an-mp3-player-with-python-and-tkinter-gui-apps/         18195.0            NaN             NaN                                        Build Graphical User Interface Apps with Python and TKinter The Fast and Easy Way!    Udemy                                     https://img-b.udemycdn.com/course/240x135/3359670_8fa1_2.jpg  Yes  NaN           NaN    NaN                                                  John Elder    43 lectures          4.869023\n5945   The Art of Doing: Dive Into Android Development with Kotlin           NaN                      NaN    17 total hours      4.9   137 reviews                 Beginner  https://www.udemy.com/course/the-art-of-doing-dive-into-android-development-with-kotlin/         17402.0            NaN             NaN                                Master the fundamentals and begin your journey into android application development today!    Udemy                                     https://img-b.udemycdn.com/course/240x135/3884466_8fbf_2.jpg  Yes  NaN           NaN    NaN                                               Michael Eramo    84 lectures          4.867688\n3831    The Ultimate iOS 11 & Swift 4 Course. Learn to Build Apps!           NaN                      NaN    70 total hours      4.9   373 reviews                 Beginner                                               https://www.udemy.com/course/ios11tutorial/         16824.0            NaN             NaN    A Beginner\'s Guide to Xcode 9, Swift 4.0, ARKit, Core ML, SpriteKit, WatchKit, and more. Design AND code from scratch.    Udemy                                     https://img-b.udemycdn.com/course/240x135/1296184_7d30_5.jpg  Yes  NaN           NaN    NaN                              Mammoth Interactive, John Bura   383 lectures          4.866640\n5106  Complete SQL Bootcamp With MySQL - SQL Interview Masterclass           NaN                      NaN  21.5 total hours      4.9   192 reviews               All Levels                        https://www.udemy.com/course/practical-sql-masterclass-with-mysql/         16433.0            NaN             NaN                     Learn Complete SQL - SQL Beginner to Advanced With MySQL - Top 100+ SQL Interview Questions & Answers    Udemy                                     https://img-b.udemycdn.com/course/240x135/3350954_9933_3.jpg  Yes  NaN           NaN    NaN                                             Prashant Munshi   159 lectures          4.865892\n3790                                    CSS - MASTERING ANIMATIONS           NaN                      NaN     2 total hours      4.9   382 reviews                 Beginner                                    https://www.udemy.com/course/css-mastering-animations/         15661.0            NaN             NaN              Make your web page alive with css animations & transitions and take your web design skills to the next level    Udemy                                     https://img-b.udemycdn.com/course/240x135/1726950_a9e4_2.jpg  Yes  NaN           NaN    NaN                                               Driss Boumlik    28 lectures          4.864311\n5988     Bash Shell Programming for Data Sciences: Animated Course           NaN                      NaN     7 total hours      4.9   135 reviews                 Beginner                                      https://www.udemy.com/course/hello-big-data-at-bash/         13671.0            NaN             NaN  Innovative Project-based Animated Linux Command Line Masterclass: Bash Shell Programming  Data Mining Science- 7.5 Hours    Udemy                                    https://img-b.udemycdn.com/course/240x135/1124030_262f_41.jpg  Yes  NaN           NaN    NaN  Scientific Programmer™ Team, Scientific Programming School   100 lectures          4.859470'

In [49]:
top_20_rows.to_excel('top_20_rows.xlsx')

In [50]:
backup2.to_excel('backup2.xlsx')